:root{

--strongCyan: hsl(171, 66%, 44%);
--lightBlue: hsl(233, 100%, 69%);
--darkGrayishBlue: hsl(210, 10%, 33%);
--grayishBlue: hsl(201, 11%, 66%);

--font: 'Bai Jamjuree', sans-serif;

--paddingContainer: 80px 0; /*80px arriba/abajo y 0 izquierda/derecha */

}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
}

.container{
    max-width: 1200px; /*Su ancho máximo sea de 1200px de ahi no segui creciendo el viewport*/
    width: 90%;
    margin: 0 auto; /*centro el container*/
    overflow: hidden; /*Todo lo que salga de container se esconda*/
    padding: var(--paddingContainer);
}

.hero{
    --paddingContainer: 120px 0 80px; /*Sobrescribo el padding container 120px arriba, 0izq/derecha y 80px abajo*/
    background-image: url('../images/bg-header-mobile.png');
    background-repeat: no-repeat; /*Que no se repita*/
    background-size: 100%;
    text-align: center; /*alineo el texto al centro*/
}

.hero__img{
    display: block; /*Lo vuelvo un bloque y se quita igual los margenes inferiores que traen las img por defecto*/
    margin: 0 auto; /*Centro de manera horizontal la img*/
    margin-bottom: 4.5rem; /*Se pone despues para no sobreescribir lo de margin: 0 auto;*/
}

.hero__title{
    color: var(--darkGrayishBlue);
    margin-bottom: 1rem;
}

.hero__paragraph{
    color: var(--grayishBlue);
    line-height: 1.5;
}

.buttons{
    margin-top: 2.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center; /*centrar los textos*/
}

.buttons__cta{
    background-color: var(--strongCyan);
    color: #fff;
    text-decoration: none;
    border-radius: 2rem;
    padding: 1rem 0; /*1rem arriba/abajo 0 a los costados*/ 
    font-weight: 600;
    box-shadow: 0 0 10px -5px var(--strongCyan); /*0 en x, 0 en Y, 10px de blur, -5px de spread */
}

.buttons__cta--blue{
    box-shadow: 0 0 10px -5px var(--lightBlue); /*0 en x, 0 en Y, 10px de blur, -5px de spread */
    background-color: var(--lightBlue);
}

/* Track */

.track__texts{
    text-align: center;
    /* color: var(--darkGrayishBlue); */
}

.title{
    color: var(--darkGrayishBlue);
    font-size: 2rem;

}

.paragraph{
    line-height: 1.5;
    color: var(--grayishBlue);
    margin-top: 1.5rem;
}

.track__img{
    width: 100%;
    display: block; /*Lo vuelve tipo bloque y quita el margen inferior que trae las img por defecto*/
    max-width: 400px; /*Si el viewport crece, la imagen crece pero solo llega hasta los 400px*/
    margin: 0 auto; /*centrado, para que un elemento centre con este regla (margenes automaticos), debe ser de tipo bloque, debe tener un width definido y un margin auto*/
    margin-top: 3.5rem; /*Para que aplique debe estar despues de la regla margin: 0 auto; */
}

.track__articles{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-top: 2.5rem;
    text-align: center;
}

.track__offer{
    color: var(--darkGrayishBlue);
    font-size: 1.5rem;
}

.track__copy{
    margin-top: 1.7rem;
    line-height: 1.5;
    color: var(--grayishBlue);
}