:root{

    --red:hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    
    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);


}



*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppin', sans-serif;
    background-color: var(--veryLightGray);
}

.card{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}


.card__title{
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.5;
    color: var(--veryDarkBlue);
}

.card__title--bold{
    font-weight: 600;
}

.card__paragraph{
    line-height: 1.5;
    color: var(--grayishBlue);
    margin-top: 1.5rem;
}

.card__container{
    padding-top: 80px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr; /*crear una columna de una fracción*/
    grid-template-rows: repeat(4, 1fr); /*4 filas de una fracción*/
    grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    ;
    justify-items: center;  /*que sus grid item se centren horizontalmente*/
    gap: 2.5rem;
}

.card__item{
    width: 90%;
}