:root{
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);

    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--paleBlue);
    display: flex;
    min-height: 100vh;
    padding: 40px 0;
}

.card{
    margin: auto; /*centra horizonta y verticalmente, debido a que el flex container (body) tiene un min-width de 100vh*/
    width: 340px;
    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;
}

.card::before{
    content: '';
    display: block;
    width: 100%;
    height: 180px;
    background-image: url('../images/illustration-hero.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card__texts{
    padding: 2.5rem 1.7rem;
    text-align: center; /*centro los textos*/
}

.card__title{
    font-size: 1.7rem;
    color: var(--darkBlue);
}

.card__paragraph{
    color: var(--desaturatedBlue);
    line-height: 1.5;
    margin: 1.2rem 0 1.5rem;
}

.card__plan{
    display: flex;   
    align-items: center;
    background-color: var(--veryPaleBlue);
    padding: 1.2rem 1rem;
}

.card__icon{
    margin-right: 1.8rem;
}

.card__name{
    font-size: 1rem;
    color: var(--darkBlue);
}

.card__change{
    margin-left: auto; /*Para moverlo muy a la derecha*/
    color: var(--brightBlue);
    text-decoration: none;
}

.card__cta{
    display: block; /*Elemento ancord es inline, display: block hace que ocupen el 100% del contenedor, como si fuera un div*/
    background-color: var(--brightBlue);
    color: #fff;
    text-decoration: none;
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 1rem;
    font-weight: 700;
    box-shadow: 0 10px 10px -8px var(--brightBlue); /*0 en X, 10px en Y, 10px de blur -8px de spread, con el color*/
}

.card__cta-gray{
    margin-top: .7rem;
    background-color: #fff;
    color: var(--desaturatedBlue);
    box-shadow: none;
}

@media (min-width:768px){
    body{
        background-image: url('../images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
    }
}