:root{

    --darkViolet: hsl(256, 26%, 20%);
    --grayishBlue: hsl(216, 30%, 68%);
    --veryDarkViolet: hsl(270, 9%, 17%);
    --darkGrayishViolet: hsl(273, 4%, 51%);
    --veryLightGray: hsl(0, 0%, 98%);

    --font1:'DM Serif Display', serif;
    --font2:'Karla', sans-serif;

    --paddingContainer: 80px 0; /*80px arriba y cero hacia los lados*/

}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: var(--font2);
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--paddingContainer);
}

.hero{
    background-color: var(--darkViolet); /*Contiene a todo, su fondo es violeta*/
    color: #fff;
    --paddingContainer: 0;
}

.nav{
    background-color: #fff; /*este es blanco y cubre el color violeta previo del hero*/
}

.nav__container{
    height: 80px;
    display: flex;
    align-items: center; /*centro los elementos horizontalmente*/
    justify-content: space-between;
}
/* En moviles no es visible los links */
.nav__links{
    display: none;
}

.nav__icon,
.nav__logo{
    display: block; /*Los convierto a bloque y de paso se elimina el margen inferior*/
}

.hero__main{
    width: 100%; /*tiene un hijo (vendria siendo la imagen, que se agregaria mediante pseudoelemento) que ocuparía el 100%*/   
}

/* pseudoelemento que se pondría antes de los textos */
.hero__main::before{
    content: '';
    display: block; /*Para que se le pueda darles un height y width*/
    height: 300px;
    width: 100%;
    background-image: url('../images/image-intro-mobile.jpg');
    background-size: cover;
    background-position: center;
}

.hero__texts{
    width: 90%;
    margin: 0 auto; /*centro horizontalmente, así mismos*/
    padding: 80px 0; /*80px arriba/abajo 0 a los costados*/
    text-align: center; /*como contenedor, centrar sus textos hijos*/
}

.title{
    font-size: 2.5rem;
    font-family: var(--font1);
    letter-spacing: 3px;
}

.hero__paragraph{
    line-height: 1.5;
    margin-top: 1rem;
}

.cta{
    display: inline-block; /*Sino se pone esto, como que se sobrepone sobre el texto*/
    margin-top: 1.5rem;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    padding: .8rem 2.2rem;
}