:root{

    --darkViolet: hsl(256, 26%, 20%);
    --grayishBlue: hsl(216, 30%, 68%);
    --veryDarkViolet: hsl(270, 9%, 17%);
    --darkGrayishViolet: hsl(273, 4%, 51%);
    --veryLightGray: hsl(0, 0%, 98%);

    --font1:'DM Serif Display', serif;
    --font2:'Karla', sans-serif;

    --paddingContainer: 80px 0; /*80px arriba y cero hacia los lados*/

}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: var(--font2);
}