:root{

--darkGray: hsl(0, 0%, 63%);
--black: hsl(0, 0%, 0%);
--white: hsl(0, 0%, 100%);
--veryDarkGray: hsl(0, 0%, 27%);

}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
}

.container{
    width: 90%;
    margin:0 auto;
    padding: 60px 0;
    overflow: hidden; /*todo lo que salga de este container se oculte*/
}

.main{
    max-width: 1400px;
    margin-top: 0 auto;
    display: grid;
    /* crear la grid de manera explicita, primer valor para las filas (5 filas de su max content o puede ser auto) / y una sola columna fr */
    grid-template: repeat(5, max-content) / 1fr;
    grid-template-areas:
    "main"
    "shop"
    "image1"
    "about"
    "image2"
    ;
}

.main__hero{
    background-image: url('/../images/mobile-image-hero-1.jpg');
    min-height: 500px;
    background-size: cover;
    background-position: center;
    grid-area: main;
}

.main__nav{
    display: flex;
    align-items: center; /*centre de manera horizontal*/
}

.main__links{
    display: none; /*en movile se va*/
}

.main__logo{
    margin:0 auto; /*para que se centre en el main axis*/
}

.main__controls{
    grid-area: main; /*un area puede ser ocupada por más de un grid item*/
    /*tenemos propiedades para alinear a los hijos, main__controls es un gridItem o hijo de .main */
    align-self: end;  /*que vaya al final de un colum*/
    justify-self: end; /*que vaya al final de un row*/
    /* place-self: end; su shorthand */
    background-color: var(--black);
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main__arrows{
    height: 40%;
}

.main__shop{
    grid-area: shop;
}
/* contenedor dentro de main shop */
.main__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__title{
    color: var(--black);
    font-size: 2rem;
}

.main__paragraph{
    line-height: 1.5;
    margin: 1rem 0 2rem;
    color: var(--darkGray);
}

.main__paragraph--about{
    
    margin: 1rem 0 0 0;
}


.main__cta{
    text-decoration: none;
    color: var(--veryDarkGray);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.main__arrow{
    margin-left: 20px;
}

.main__bg{
    grid-area: image1;
    min-height: 250px;
    height: 100%; /*al pasar a desktop ocupara todo el tamaño de su celda*/
    background-image: url('./../images/image-about-dark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__about{
    grid-area: about;
}

.main__bg--second{
    grid: image2; 
    min-height: 250px;
    height: 100%; /*al pasar a desktop ocupara todo el tamaño de su celda*/
    background-image: url('./../images/image-about-light.jpg');  
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}